
.pagination {
  text-align: center;
  margin: 2rem 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 1rem;
  }

  li {
    display: inline;
  }

  a {
    text-decoration: none;
    color: $body-color;
    font-size: 1.2rem;

    &:hover {
      color: darken($body-color, 10%);
    }
  }
  .page-number {
    font-size: 1rem;
  }
}