.dark-toggle {
  text-decoration: none;
  cursor: pointer;
}
// when in light
body.light {
  .dark-toggle .dark {
    display: inline;
  }
  .dark-toggle .light {
    display: none;
  }
}
// when in dark
body.dark {
  background-color: #121212;
  color: #e0e0e0;

  // catch all text colours
  .wrap-content a,
  .post-title a,
  .post .post-content a,
  a {
    color: #fac49f;

    &:hover {
      color: #b35700;
    }
  }
  blockquote {
    border-left-color: #b35700;
    color: #e0e0e0;
    background-color: #121212
  }
  .search-page .search-input {
    background: #1e1e1e;
    color: #e0e0e0;
    border: 1px solid #333;

    &::placeholder {
      color: #888;
    }
  }
  // toggle buttons
  .dark-toggle .dark {
    display: none;
  }
  .dark-toggle .light {
    display: inline;
  }
  // rss modal
  .rss-modal{
    .rss-inner {
        background: #1e1e1e;
        color: #e0e0e0;
    }
    .continue {
      background: #333;
      color: #e0e0e0;

      &:hover {
        background: #555;
      }
    }
  }
  // contact section
  .contact .contact-title {
    color: #e0e0e0;

    &:before,
    &:after{
      background-color: #e0e0e0;
    }
  }
  // share links
  .page-footer .page-share a {
    color: #e0e0e0;
    border-color: #333;
    background-color: #1e1e1e;
  }
  // tags
  .tags li a,
  .page-footer .page-tag a {
    color: #e0e0e0;
    border-color: #333;
    background-color: #1e1e1e;
    
    &:hover {
      background-color: #333;
    }
  }
  // tags page
  .blog-tags{
    background: #1e1e1e;
  }
  .highlighter-rouge {
    border-color: #333;
    background-color: #1e1e1e;
  }
  // background colours
  .sidebar,
  .post, 
  .article-page {
    background-color: #1e1e1e;
  }
  .article-page.top .post{
    background-color: #121212;
  }
  // font colours
  ul.nav li a,
  .about .author-name,
  .article-page-title a {
    color: #e0e0e0;
  }
  // table joys
  table {
    border-color: #333;
    background-color: #1e1e1e;

    tr:nth-child(even) {
      background: #2a2a2a;
    }
    th, td {
      border-color: #333;
    }
    thead {
      border-bottom-color: #555555;
    }
    tfoot {
      background: #333;
      border-top-color: #888;
      color: #e0e0e0;
    }
  }
  // remove transitions
  .about img ,
  ul.nav li a,
  .post,
  a.older-posts, 
  a.newer-posts
  {
    transition: none;
  }
}