/**
  * Main SCSS file  
  * v1.1.4
  */


@import 'normalize';
@import 'syntax';
@import 'variables';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  color: $body-color;
  background-color: #fbfbfb;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 400;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
img.right {
    margin-left: 20px;
    float: right;
}

img + em {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

blockquote {
  border-left: 5px solid #000;
  padding-left: 1.1rem;
  margin-left: 1rem;
  font-style: italic;
  color: #000;
}

pre {
  padding: 1rem 2rem;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;

  code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }
}

table {
  border: 1px solid #c9c9c9;
  background-color: #f0f0f0;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table td, table.blueTable th {
  border: 1px solid #c9c9c9;
  padding: 3px 2px;
}
table tbody td {
  font-size: 13px;
}
table tr:nth-child(even) {
  background: #fff;
}
table thead {
  border-bottom: 1px solid #8c8c8c;
}
table thead th {
  font-size: 14px;
  font-weight: bold;
  border-left: 1px solid #d0e4f5;
}
table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #d0e4f5;
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444;
}
table tfoot td {
  font-size: 14px;
}

.wrapper {
  max-width: 1250px;
  position: relative;
}

.post, .article-page {
  background-color: #fff;

  &.top{
    margin-top: 30px;
    width: 100%;

    .post{
      margin-bottom: 10px;
      background-color: #fbfbfb;
    }
  }
}

.search-page {
  width: 100%;

  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid $gray;
    margin-bottom: 20px;
  }
}

::-moz-selection {
  background: rgba(38, 57, 89, 0.8);
  color: $white;
}

::selection {
  background: rgba(38, 57, 89, 0.8);
  color: $white;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.back-to-top {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 30px;
  z-index: 100;
  padding: 10px 15px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  background-color: #c5c5c5;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;

  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: darken(#f1f1f1, 10%);
  }
  &.visible{
    opacity: 1;
  }
}

/* - - - - - - - - - - RSS modal - - - - - - - - - - */
@import 'components/rss-modal';

/* - - - - - - - - - - Pagination - - - - - - - - - - */
@import 'components/pagination';

/* - - - - - - - - - - tooltips - - - - - - - - - - */
@import 'components/tooltips';

/* - - - - - - - - - - suggested posts - - - - - - - -*/
@import 'components/suggested-posts';

/* - - - - - - - - - - Home Page Styles - - - - - - - - - - */
@import 'parts/home-page';

/* - - - - - - - - - - Post Page Styles - - - - - - - - - - */
@import 'parts/post-page';

/* - - - - - - - - - - Tag Styles - - - - - - - - - - */
@import 'parts/tag';

/* - - - - - - - - - - Media Styles - - - - - - - - - - */
@import 'media';

/* - - - - - - - - - - Dark mode overrides - - - - - - - - - - */
@import 'darkmode';
